<!DOCTYPE html>
<html>

<head>
    <title>Todo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        *{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        strong{
            font-size: x-large;
            letter-spacing: 2px;
        }
        /* .navbar-nav {
            float: right;
        } */
        .container{
            display: flex;
            justify-items: center;
            justify-content: center;
            margin-top: 5%;
        }
        .inp{
            border-radius: 3px;
            border: 1px solid black;
        }
        body{
            background-color: blueviolet;
            /* background: linear-gradient(blueviolet,violet); */
        }
        .add{
            background: transparent;
            border-radius: 3px;
            border: 1px solid black;
            margin: 5px;
        }
        .add:hover{
            background-color: white;
            color: black;
            transition: 0.3s;
        }
        .navbar-nav{
            margin-left: 80vw;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-3 " href="/"><strong>Todo</strong></a>

        <div class="collapse navbar-collapse" id="x">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/getSongs">Todo List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/Rugved76/todolist.git" target="_blank">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form method="post" action="/addtask">
            <input class="inp"  type="text" name="taskname" placeholder="Enter task name..." required>
            <input class="add" type="submit" value="+">
        </form><br>
        <!-- <a href='/getSongs'><button class="add">show</button></a> -->
    </div>
    
</body>
</html>