<!DOCTYPE html>
<html>

<head>
    <title>MUSIC DB</title>
</head>

<body>
    <h1>MUSIC DB</h1>
    <form method="post" action="/addsong">
        <label>Enter Your Favouorite song</label><br>
        <input type="text" name="Songname" placeholder="Enter song name..." required><br>
        <input type="text" name="Film" placeholder="Enter film name..." required><br>
        <input type="text" name="Music_director" placeholder="Enter music Director name..." required><br>
        <input type="text" name="singer" placeholder="Enter singer name..." required><br>
        <input type="submit" value="Add music">
    </form>
    <button onclick="show()">Show</button>
</body>

</html>